.card {
  width: 50%;
  height: 260px;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.roundInfo {
  border: 1px solid #e5e7eb;
  border-radius: 24px;
}
